.pioenvs
.piolibdeps
*-bak
*.bak
*-cache.lib
fp-lib-table
.DS_Store
_saved*
_autosave*
driver/.Python
driver/src
driver/lib
driver/bin
driver/include
plugin/.Python
plugin/lib
plugin/src
plugin/bin
plugin/include
plugin/pip-selfcheck.json
